.sidebar {
  padding: 10px 5px 0 5px;
  display: flex;
  flex-direction: column;
  width: 220px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 60px;
  bottom: 0px;
  background-color: #ecf0f1;
  overflow: auto;
  box-sizing: border-box;
}

.sidebar::-webkit-scrollbar {
  display: none;
}


.sidebar iframe {
  width: 100%;
  height: 150px;
}

.sidebar .yt-video {
  width: 100%;
  height: 150px;
}

@media (max-width: 920px) {
  .sidebar {
    left: -2000px;
  }
}